.idea
.vscode
*.o
*.a
a.out.dSYM
test.dSYM
.DS_Store
pft/history.csv
pft/src/unit_tests_indexed.c
pft/test
pft/test.libc
pft/test.mine
pft/unit_tests.c
pft_2019/history.csv
pft_2019/test
pft_2019/test.mine
42TESTERS-PRINTF/diff.txt
pft_2019/results.txt
